@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
    <link rel="stylesheet" href="^~/css/site.css" />
<head>
    
</head>

<body class="style-0">
    <div class="">
        <span data-newcolorsbranding="true" class="style-1">
            <div data-hook="app" class="">
                <div data-hook="template-demo" class="style-18">
                    <div data-hook="desktop-view" class="style-19"><iframe data-hook="desktop-iframe" src="https://www.wix.com/templatespt/cap-hats_pt" title="Loja de acessórios" width="100%" height="100%" class="style-20"></iframe></div>
                </div>
                <div data-hook="info-pop-up" class="style-21">
                    <div class="style-22">
                        <button data-hook="card-close" class="style-23"><span class="style-24">Fechar popup de informação</span></button>
                        <div class="style-25">
                            <h1 data-hook="card-title" class="style-26">Loja de acessórios - Website Template</h1>
                            <div class="style-27">
                                <h3 data-hook="card-good-for-title" class="style-28">Bom para:</h3>
                                <p data-hook="card-good-for" class="style-29">Lojas online de bonés, lojas de moda e revendedores de vestuário</p>
                            </div>
                            <div class="style-30">
                                <h3 class="style-31">Descrição:</h3>
                                <p data-hook="card-description" class="style-32">Bonés e chapéus modernos. Você tem os designs modernos e originais que as pessoas desejam. Agora você precisa de um site moderno e vibrante para combinar. Este template de comércio online oferece uma galeria dinâmica de produtos para mostrar sua coleção e uma mídia social para manter o compromisso dos seus visitantes. Clique em "Editar" para personalizar facilmente o seu conteúdo e começar a vender online hoje!</p>
                            </div>
                        </div>
                        <div class="style-33"><a data-hook="card-editor-url" class="style-34" target="_blank" href="https://manage.wix.com/edit-template/from-intro?originTemplateId=d140656f-8f1b-4a6d-8d84-403ca41336c8&amp;editorSessionId=8d4beae7-af8a-45ce-a10d-61716c2bf90f">Editar Agora</a></div>
                    </div>
                </div>
            </div>
        </span>
    </div>
</body>

</html>